*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 414px;
  background-color: #333;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9395D3;
  padding: 60px 19px 23px 19px;
  button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
  i{
    color: white;
  }
}
.page-container{
  background-color: #d6d7ef;
  height: 500px;
}
.add-btn-container{
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
  height: 80px;
  padding-inline: 22px;
}
.add-Btn{
  background-color: #9395D3;
  border-radius: 50%;
  border: none;
  padding: 23px;
  cursor: pointer;
  i{
    color: white;
  }
}
.lists{
  padding-inline: 7px;
  padding-block: 22px;
}
.list-ToDo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 19px;
  background-color: white;
  border-radius: 8px;
  list-style: none;
  margin-bottom: 22px;
}
.list-btn-container{
  display: flex;
  gap: 20px;
  align-items: center;
  button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    i{
      color: #9395D3;
    }
  }
}
.addToDo-container{
  display: flex;
  flex-direction: column;
  input{
    border: none;
    outline: none;
    margin-inline: 29px;
    margin-block: 43px;
    padding: 20px 10px;
    border-radius: 5px;
  }
  button{
    border: none;
    background-color: #9395D3;
    color: white;
    border-radius: 8px;
    padding-block: 18px;
    margin-inline: 14px;
    cursor: pointer;
  }
}
.edit-page-container{
  display: flex;
  flex-direction: column;
  input{
    border: none;
    outline: none;
    padding: 20px 10px;
    margin-inline: 14px;
    margin-block: 43px;
    border-radius: 5px;
  }
}
.edit-page-btns{
  display: flex;
  justify-content:space-between;
  padding-inline: 14px;
  button{
    padding: 23px 60px;
    background-color: #9395D3;
    border-radius: 8px;
    border: none;
    color: white;

  }
}
.footer{
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 100vh;
  background-color: white;
  color:#8B8787;
  text-align: center;
  padding: 10px;
  button{
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  i{
    color:#8B8787;
  }
}
.completed-tasks{
  li{
    background-color: white;
    margin-bottom: 10px;
  }
}
.all-tasks{
  h2{
    margin-bottom: 10px;
  }
}
.completed-ToDo {
  color: gray;
  text-decoration: line-through; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 19px;
  background-color: white;
  border-radius: 8px;
  list-style: none;
  margin-bottom: 22px;
  button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    i{
      color:#9395D3;
    }
  }
}